@model List<ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<hr />

<input class="form-control" id="searchInput" type="text" placeholder="Search..">
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Books Borrowed</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="resultTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.BooksBorrowed</td>
                <td><a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> <a asp-action="Delete" class="btn btn-danger ml-3" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#resultTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}